# librosa==0.10.1
pydub==0.25.1
soundfile==0.12.1
audioread==3.0.1
ffmpeg-python==0.2.0
numpy==1.26.4
fastapi==0.115.8
uvicorn==0.30.5
requests==2.32.3
websockets==14.1
python-dotenv==1.0.1
pyyaml==6.0.1
tqdm==4.66.4
funasr==1.2.0
pydantic==2.9.2
torch==2.5.1
torchaudio==2.5.1
onnx==1.17.0
onnxruntime==1.21.1